body {
	background-color: lightGray
}
p {
	color: white;
	font-family: Helvetica;
}
h1 {
	font-size: 20pt;
	color: white;
	font-family: Helvetica;
}
li {
	color: white;
	font-family: Helvetica;
}
.lastli {
	color: white;
	font-family: Helvetica;
	padding-bottom: 20px;
}
form {
	color: white;
	font-family: Helvetica;
}