body {
	background-color: lightGray
}
p {
	font-color: red;
	font-family: Helvetica;
}
h1 {
	font-size: 20pt;
	font-color: black;
	font-family: Helvetica;
}
li {
	font-color: red;
	font-family: Helvetica;
}
.lastli {
	font-color: red;
	font-family: Helvetica;
	padding-bottom: 20px;
}
form {
	font-color: red;
	font-family: Helvetica;
}